<!DOCTYPE html>
<html>
    <head>
        <title>testing</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" id="name" name="name" placeholder="enter your text"/>
            {{!--<button>Submit</button>--}}
        </form>
    </body>
</html>